<div class="clear editDiv">
    <div>
        <h4>
            <i class="icon-arrow-right"></i>
            {{title}}
        </h4>
        <hr/>
        <div class="clear" ng-if="vo.pid == '0'" ng-repeat="vo in list">
            <div class="editInput">
                <div class="left" style="font-size: 16px">{{vo.name}}</div>

                <div class="clear"></div>

                <div class="clear" style="margin-left: 20px" ng-repeat="vo2 in list" ng-if="vo2.pid == vo._id">

                    <div class="left" style="font-size: 14px;margin-top: 8px">|_{{vo2.name}}</div>

                    <div class="clear"></div>

                    <div class="clear" style="margin-left: 30px" ng-repeat="vo3 in list" ng-if="vo3.pid == vo2._id">
                        <div class="left" style="font-size: 12px;color:blue;margin-top: 8px">|_{{vo3.name}}</div>

                        <div class="clear"></div>

                        <div class="clear">

                            <div class="clear" style="margin-left: 40px" ng-repeat="item in contentList "
                                 ng-if="item.catId == vo3._id">

                                <li >
                                    <span class="">{{item.name}}</span>
                                    <span class="linkMouse" complie-click
                                          divid="block3" tag="admin-content-edit-in" urlitem="{{item._id}}"
                                          title="{{vo3.name}}|修改详情" editUrl="{{item.content}}"  style="font-size: 12px;color: red ;margin-left: 10px">修改</span>
                                    <span class="linkMouse" style="font-size: 12px;color: red ;margin-left: 10px"
                                          ng-click="fun.del(item._id)">删除</span>
                                </li>


                            </div>

                        </div>


                    </div>

                </div>


            </div>
            <hr/>
        </div>
    </div>
</div>