<div class="clear editDiv">
    <div>
        <h4>
            <i class="icon-arrow-right"></i>
            {{title}}
        </h4>
        <hr/>
        <div class="clear" ng-if="vo.pid == '0'" ng-repeat="vo in list">
            <div class="editInput">
                <div class="left" style="font-size: 16px">{{vo.name}}</div>

                <div class="clear"></div>

                <div class="clear" style="margin-left: 20px" ng-repeat="vo2 in list" ng-if="vo2.pid == vo._id">

                    <div class="left" style="font-size: 14px;margin-top: 8px">|_{{vo2.name}}</div>

                    <div class="clear"></div>

                    <div class="clear" style="margin-left: 30px" ng-repeat="vo3 in list" ng-if="vo3.pid == vo2._id">
                        <div class="left" style="font-size: 12px;color:blue;margin-top: 8px">|_{{vo3.name}}</div>
                        <div class="left linkMouse " style="margin-top:8px;margin-left: 10px;color: red;font-size: 12px"
                             ng-click="UI.chickThis($event)"
                             complie-click
                             divid="block3" tag="admin-content-add" urlitem="{{vo3._id}}"
                             title="{{vo3.name}}|添加详情">
                            +添加详情
                        </div>
                    </div>

                </div>


            </div>
            <hr/>
        </div>
    </div>
</div>