<div class="clear editDiv">
    <div>
        <h4>
            <i class="icon-arrow-right"></i>
            {{title}}
        </h4>
        <hr/>

        <div class="clear" ng-repeat="vo in list">
            <div class="editInput">
                <input type="text" ng-model="vo.name"/>
                <button class="btn" ng-click="fun.edit($event)" _id="{{vo._id}}" name="{{vo.name}}">修改</button>
                <button class="btn" ng-click="fun.del(vo._id)">删除</button>
            </div>
            <hr/>
        </div>
    </div>
</div>